# Environment
.env
.env.*
!.env.example

# Dependencies
/node_modules
/vendor
/.pnpm-store

# Build
/public/build
/public/hot
/public/storage

# Laravel
/bootstrap/cache/*
/storage/*.key
/storage/framework/*
!/storage/framework/views
!/storage/framework/cache
!/storage/framework/sessions
/storage/logs/*
!/storage/logs/.gitkeep

# IDE
.idea
.vscode
*.sublime-*

# Sistema operativo
.DS_Store
Thumbs.db
